---
interface Props {
  date: string;
  datetime: string;
}

const { date, datetime } = Astro.props;
---

<span
  class="hero__datebadge inline-block text-[clamp(0.8rem,2vw,0.95rem)] font-medium tracking-[0.2em] uppercase text-amber-500 mb-6"
>
  <time {datetime}>{date}</time>
  &nbsp;·&nbsp;
  <a href="geo:45.751958,-122.327047" class="loc">Yacolt Burn, SW Washington</a>
</span>
