---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div
  class:list={[
    'faq',
    'max-w-[720px]',
    'mx-auto',
    'text-left',
    'bg-black/65',
    'border',
    'border-white/10',
    'rounded',
    'px-8',
    'divide-y',
    'divide-white/11',
    className,
  ]}
>
  <slot />
</div>
