---
import { Plus, Minus } from 'lucide-astro';
import AccordionItem from './starwind/accordion/AccordionItem.astro';
import AccordionTrigger from './starwind/accordion/AccordionTrigger.astro';
import AccordionContent from './starwind/accordion/AccordionContent.astro';

interface Props {
  question: string;
}

const { question } = Astro.props;

// React needs a unique ID for each item in a list, this is an easy to way derive it from the question
const value = question
  .toLowerCase()
  .replace(/[^a-z0-9]+/g, '-')
  .replace(/(^-|-$)/g, '');
---

<AccordionItem {value} class="border-white/11">
  <AccordionTrigger
    class="group py-6 font-display text-xl md:text-3xl text-stone-100 hover:text-stone-100"
  >
    {question}
    <span slot="icon" class="shrink-0 flex text-amber-700" aria-hidden="true">
      <Plus size={16} strokeWidth={2.5} class="group-data-[state=open]:hidden" />
      <Minus size={16} strokeWidth={2.5} class="hidden group-data-[state=open]:flex" />
    </span>
  </AccordionTrigger>
  <AccordionContent>
    <p class="text-stone-400 text-sm text-shadow-lg">
      <slot />
    </p>
  </AccordionContent>
</AccordionItem>
